.admin-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  font-family: sans-serif;
}

.admin-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.admin-section {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  margin-bottom: 30px;
}
.admin-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.admin-form input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.admin-btn {
  padding: 10px;
  border: none;
  background: #182c3b;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
